<div class="docs-main">
  <!-- Main Wrapper -->
  <div class="grid-container">
    <div class="section">
      <!-- Section -->
      <h2>S2B Listview Component</h2>
      <h4 class="subheader">
        This is the Listview component. Using this component user can select an option out of many provided.
      </h4>
    </div>
    <!-- /Section -->
    <!-- Section -->
    <div class="section">
      <div class="">
        {{content/s2b-listview data=paymentList}}
      </div>
    </div>
    <!-- /Section -->
  </div>
</div>
